@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.panel {
    border: 2px solid black;
    background-color: white;
    margin: 1rem;
    padding: 1rem;
}

.panel--dark {
    background-color: black;
    color: white;
}

.panel__title {
    font-family: 'Permanent Marker';
    text-align: center;
}

.panel__title--alert {
    background-color: yellow;
    color: black;
}

.panel__body {
    font-family: Caveat;
}